<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'rep')}">
    <body>
        <h2>Productos</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20px;">ID</th>
                    <th style="width: 150px;">Nombre</th>
                    <th style="width: 200px;">Descripción</th>
                    <th style="width: 100px;">Número de Serie</th>
                    <th style="width: 100px;">Cantidad</th>
                    <th style="width: 50px;">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${selections}">
                    <td th:text="${producto.id}"/>
                    <td th:text="${producto.nombre}"/>
                    <td th:text="${producto.descripcion}"/>
                    <td th:text="${producto.numero_serie}"/>
                    <td th:text="${producto.cantidad}"/>
                    <td th:text="${producto.precio}"/>
        
                </tr>
            </tbody>
        </table>

    </body>
</html>
