<!doctype html>
<html th:fragment="layout (template, menu)">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <title>PetClinic</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>
    <link rel="stylesheet" href="css/custom.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

<body>

  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" th:href="@{/welcome}"><span></span></a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                  <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse" id="main-navbar">
              <ul class="nav navbar-nav navbar-right">
  
                  <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active==menu ? 'active' : ''}">
                      <a th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span th:text="${text}">Template</span>
                      </a>
                  </li>
  
                  <li th:replace="::menuItem ('/welcome','home','Inicio','home','Inicio')">
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      <span>Inicio</span>
                  </li>
  
                  <li th:replace="::menuItem ('/owners/find','owners','Dueños','briefcase',#{o})">
                      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                      <span>Find owners</span>
                  </li>
  
                  <li th:replace="::menuItem ('/vets/find','vets','Veterinarios','heart',#{v})">
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                      <span>Veterinarians</span>
                  </li>
                  
                  <li th:replace="::menuItem ('/medicamento/find','medicamento','Medicamentos','erase','Medicamentos')">
                      <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                      <span>Medicamentos</span>
                  </li>
                  
                  <li th:replace="::menuItem ('/producto/find','producto','Productos','book','Productos')">
                      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                      <span>Productos</span>
                  </li>
                  
                  <li th:replace="::menuItem ('/user/find','user','Usuarios','user','Usuarios')">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <span>Usuarios</span>
                  </li>
                  
                    <li th:replace="::menuItem ('/Reportes.html','rep','Reportes','list-alt','Reportes')">
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                      <span>Reportes</span>
                    </li>
                    
                    <li th:replace="::menuItem ('/logout','home','Salir','off','Cerrar Sesión')">
                      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                      <span>Cerrar sesión</span>
                    </li>
                    
              </ul>
          </div>
      </div>
  </nav>
  <div class="container-fluid">
      <div class="container xd-container">
  
          <th:block th:include="${template}"/>

        <br/>
        <br/>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <img src="../static/resources/images/spring-pivotal-logo.png" th:src="@{/resources/images/spring-pivotal-logo.png}"
                alt="Sponsored by Pivotal"/></div>
          </div>
        </div>
      </div>
  </div>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>
