<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'rep')}">

<body>

  <h2>Usuarios</h2>

  <table id="users" class="table table-striped">
    <thead>
      <tr>
        <th> Nombre de Usuario </th>
        <th> Contraseña </th>
        <th> Email </th>
        <th> Estado </th>
        <th> Código Postal </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${users.userList}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.enabled} ? 'Activo' : 'No activo'"></td>
        <td th:text="${user.codigopostal}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
