<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{fragments/layout :: layout (~{::body},'user')}">

    <body>

        <h2>Usuarios</h2>

        <table id="users" class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 150px;">Nombre de usuario</th>
                    <th style="width: 200px;">Contraseña</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Código postal</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${selections}">
                    <td>
                        <a th:href="@{/user/__${user.id}__}" th:text="${user.username}"/></a>
                    </td>
                    <td th:text="${user.password}"/>
                    <td th:text="${user.email}"/>      
                    <td th:text="${user.enabled} ? 'Activo' : 'No activo'"/>      
                    <td th:text="${user.codigopostal}"/>      
                </tr>
            </tbody>
        </table>

    </body>
</html>
