<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'rep')}">

    <body>
        <div>
            <a class="list-group-item list-group-item-action text-center" href="/owners/1/pets/pet"> Mascotas </a>
            <a class="list-group-item list-group-item-action text-center" href="/medicamento2"> Medicamentos </a>   
            <a class="list-group-item list-group-item-action text-center" href="/vets2?lastName="> Veterinarios </a>      
            <a class="list-group-item list-group-item-action text-center" href="/producto/reports"> Productos </a>      
            <a class="list-group-item list-group-item-action text-center" href="/ownersReport"> Dueños </a>       
            <a class="list-group-item list-group-item-action text-center" href="/users/report"> Usuarios </a>       
            <a class="list-group-item list-group-item-action text-center" href="/logs"> Inicios de Sesión </a>      
        </div>
    </body>
</html>
