<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'rep')}">

  <body>
      
      <a class="btn btn-primary" href="/owners/1/pets/pet"> Mascotas <a>
              
              <br/>
              <br/>
              
      <a class="btn btn-primary" href="/medicamento2"> Medicina <a>        
              
              <br/>
              <br/>
              
      <a class="btn btn-primary" href="/vets2?lastName="> Veterinarios <a>     
              
      
  </body>

</html>