<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'rep')}">

    <body>

        <h2>Login</h2>

        <form th:action="@{/login}" method="POST" class="form-signin">
            <h3 class="form-signin-heading" th:text="Bienvenido"></h3>
            <br/>

            <input type="text" id="email" name="email"  th:placeholder="Email"
                   class="form-control" /> <br/> 
            <input type="password"  th:placeholder="Password"
                   id="password" name="password" class="form-control" /> <br /> 

            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        </form>

        <form th:action="@{/registration}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Crear un usuario</button>
        </form>
        <br><br><br><br><br>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </body>
</html>